.container{
    background: rgb(78, 76, 196);
    height: 100%;
    width: 200px;
    padding: 30px 10px;
}
.logo{
    margin-bottom: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px ;
}

.menu > li{
    display: flex;
    flex-direction: column;
    gap: 5px;
   ;
}

.menu > li > span{
    display: flex;
    align-items: center;
}

.menu > li > span > img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu > li .subLinks{
    color: rgba(255, 255, 255, 0.61);
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.61);
    margin-left: 35px;
}

.menu > li .subLinks:hover{
    color: rgb(10, 10, 10);
}
